html, body{
  height: 100%;
  width: 100%;
  font-family: 'Irish Grover', cursive;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./image/master_background.png");
  background-repeat: no-repeat;
  background-size:cover;
}

h1{
  font-family: 'Fontdiner Swanky',cursive;
  color: rgb(216, 17, 87);
  word-wrap: break-word;

}

span, p{
  padding-right: 2% auto;
}

input[type="submit"]{
  font-family: 'Creepster', cursive;
  font-size: 2em;
  background-color: white;
}

.flex_inline{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
  height: auto;
  width: 100%;
  border: 2px solid black;
}

#player1-score, #zombies-slayed{
  font-family: 'Creepster', cursive;
  font-size: 1.5em;
}

progress{
  height:100%;
  width: 30%;
}


.gameplay{
  position: relative;
  height: 80%;
  width: 80%;
  background-color: blue;
  border: 5px solid black;
}

.ownTurf{
  position: absolute;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: green;
}


#load_screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: pink;
  z-index:4;
  background-image: url("./image/loadscreen.png");
  background-repeat: no-repeat;
  background-size:cover;
}


#story{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: rgba(63,63,191,0.8);
  height: 100%;
  width: 100%;
  z-index: 3;
}

#story>p{
  padding: 5%;
  font-size: 1.3em;
  background-color: red;
}

.enemy{
  position: absolute;
  height: 10%;
  width: 10%;
  background-repeat: no-repeat;
  background-size:contain;
}

#playing_screen{
  position:absolute;
  top:0;
  height: 100%;
  width: 100%;
  background-color: purple;
  z-index: 2;
  cursor: url("./image/gun-cursor.png") 15 15, auto;
}

.shootRange{
  height:90%;
  width: 100%;
  background-image: url("./image/gameBackground.png");
  background-repeat: no-repeat;
  background-size:cover;
}

/*note same as the other panels - try find a way to fix to class*/
#feedback_screen{
  position:absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(63,63,191,0.8);
  z-index: 1;
}

.invalid{
  display: none;
}

audio{
  display: none;
}

form{
  height:40%;
  font-size: 2em;
  margin: 10%;
  color: white;
}

.bloodsplat{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  pointer-events: none;
}

.bloodsplat>img{
  display: none;
  opacity: 0.5;
  height: 100%;
  filter: alpha(opacity=50);
  background-size: cover;
}

 #leaderboard{
   display: flex;
   position:absolute;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   background-color: purple;
   z-index: 0;
 }

table{
  border-collapse: collapse;
}
 td, th{
   border: 2px solid grey;
   text-align: center;
   width: auto;
   padding: 2px;
   margin: 0;

 }
